.avatar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.button-group {
    display: flex;
    gap: 16px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}